mixin eventForm(event = {})
  h2.content__heading Edit event
  form(action=`/events/add/${event._id || ''}`, method="POST" class="form" enctype="multipart/form-data")
    div.form__field
      label(for="name") Name
      input(type="text", name="name", required, value=event.name)
    div.form__field
      label(for="date") Date
      - 
        const getDate = (date) => {
          return [...date.toISOString()].splice(0, 10).join('');
        }
        let eventDate;
        if (event.date) {
          eventDate = getDate(new Date(event.date));
        }
        const todayString = getDate(new Date());
      input(type="date", name="date" id="date", min=todayString, required, value=eventDate)
      label(for="address") Address:
      input(type="text" name="location[address]" id="address" value=(event.location && event.location.address))
      input(type="hidden" name="location[coordinates][0]" id="lng" value=(event.location && event.location.coordinates[0]))
      input(type="hidden" name="location[coordinates][1]" id="lat" value=(event.location && event.location.coordinates[1]))
      label(for="description") Description:
      textarea(name="description" id="description")= event.description
    div.form__field
      input(type="file" name="photo" accept="image/jpeg, image/png, image/gif")
      if event.photo
        img(src=`/uploads/${event.photo}`, alt=event.name, width="200")

    input(type="submit" value="Submit" class="button")
